language: python
matrix:
  include:
  - os: linux
    dist: xenial
    python: 3.6
    env: TOXENV=py36
  - os: linux
    dist: xenial
    python: 3.7
    env: TOXENV=py37
  - os: linux
    dist: xenial
    python: 3.8
    env: TOXENV=py38,black,docs
  - os: osx
    language: generic
install:
- chmod +x .travis/install.sh
- "./.travis/install.sh"
script:
- chmod +x .travis/test.sh
- "./.travis/test.sh"
deploy:
  provider: pypi
  user: earthlab
  password:
    secure: Gz4wpXdQ9g1av/2ApILFHlu4VZGvYnyMPevzUcCTCBpcxqFV/YDC/MpYlaHj29tPrVrmYe7hwzqJT06xcjcANm84d9/V38GFzIE32z5Vwac/DHzunQyhtl+Y8e8xNuuE/Qf9YhSjF0AXBAp9fbKX8f19XTlP2C6Wujo8hi+1g7kBGOhlbRvUMx1GMTy7D7cWZj02wS4QOY1d2280mgWyOCZzkFLu1IP4zkCTKQxxu2WCssrDztkTkQPC+9S6L0CSfda5X40wJOGgjJ4tnqRXUYk1C3z7T03x1AVrE8a4i7y3pqrx4XdwyN1no2YaabB0LgBZlWZsVJmDd0x8nSdZ3R/e+8dj9WwE1GmgMcPMgCVXeCdZThzZq7QuMwh1iUf9VWjNuiuhx358KaaLtZbivMvP7tcrKdrXpncXtvTvDyp/32jPAc/t/cY4yC/PALjiJabXXTtc5LMZSn5jcbY6z4j7srBhUa5W2hC7btnZTVATNp92yBY9erhCcL7JDKIZcnrHgjM/u+GLFHBW5fBuQvvmFiF+QM/reCwk/kGWha5GAuw16ohaQOpZGNWXKpGDO36oyojYyAMILLKem9WvKx2+Qxvt/gheECix85+LYkFe5hJX6/KPgSoLooEWVJI+kAbcypXif4ZzCctffISp/XFDcIyavffzHZpz7o8eqGw=
  on:
    tags: true
    repo: earthlab/abc-classroom
    python: 3.7
